
.icon-home:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-leaf:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-lightbulb-1:before { content: '\e80d'; } /* '' */